services:
  hakula-devvm:
    image: nixos:latest
    container_name: hakula-devvm

    # -------------------------------------------------------------------------
    # Container
    # -------------------------------------------------------------------------
    hostname: hakula-devvm
    command: /init
    restart: unless-stopped
    privileged: true
    stop_grace_period: 20s

    # -------------------------------------------------------------------------
    # Environment
    # -------------------------------------------------------------------------
    environment:
      USER: root
      HOME: /home/hakula
      PATH: /run/wrappers/bin:/nix/var/nix/profiles/default/bin:/run/current-system/sw/bin
      http_proxy: ${http_proxy:-}
      https_proxy: ${http_proxy:-}
      no_proxy: ${no_proxy:-}

    # -------------------------------------------------------------------------
    # Network
    # -------------------------------------------------------------------------
    network_mode: host

    # -------------------------------------------------------------------------
    # Storage
    # -------------------------------------------------------------------------
    volumes:
      - hakula-home:/home/hakula

      - /etc/resolv.conf:/etc/resolv.conf:ro
      - /etc/ssh/ssh_host_ed25519_key:/etc/ssh/ssh_host_ed25519_key:ro
      - /etc/ssh/ssh_host_ed25519_key.pub:/etc/ssh/ssh_host_ed25519_key.pub:ro
      - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.cargo/config.toml:/home/hakula/.cargo/config.toml:ro
      - ~/.condarc:/home/hakula/.condarc:ro
      - ~/.config/containers/registries.conf:/home/hakula/.config/containers/registries.conf:ro
      - ~/.config/go/env:/home/hakula/.config/go/env:ro
      - ~/.config/pip/pip.conf:/home/hakula/.config/pip/pip.conf:ro
      - ~/.docker/config.json:/home/hakula/.docker/config.json:ro
      - ~/.kube:/home/hakula/.kube:ro
      - ~/.npmrc:/home/hakula/.npmrc:ro
      - ~/.ssh:/home/hakula/.ssh
      - ~/workspace:/home/hakula/workspace

    tmpfs:
      - /tmp

    # -------------------------------------------------------------------------
    # Resource Tuning
    # -------------------------------------------------------------------------
    shm_size: 128g

    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
      nproc:
        soft: 966085
        hard: 966085

volumes:
  hakula-home:
